title: 'Get User Availability'
type: 'object'
properties:
  data:
    type: 'object'
    properties:
      emails:
        type: "array"
        items:
          type: "string"
          title: "Attendee"
