title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      email:
        title: "Email"
        type: "string"
      username:
        title: "Username"
        type: "string"
      password:
        title: "Password"
        type: "string"
    required: [
      "email"
      "username"
      "password"
    ]
