title: 'Get User Settings'
type: 'object'
properties:
  data:
    type: 'object'
    properties:    
      emails:
        type: "array"
        items:
          type: "string"
          title: "Email"
